rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isUserAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isAdmin() {
      // Check for the isAdmin flag on the user's own document
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    match /users/{userId} {
      allow read, update: if isOwner(userId) || isAdmin();
      allow create: if isUserAuthenticated();
    }
    
    match /songs/{songId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    
    match /song-requests/{requestId} {
      allow read, delete: if isAdmin();
      allow create: if isUserAuthenticated();
    }
  }
}
